.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

.eleccionesdrt .float-right {
  float: right;
}

.eleccionesdrt .search-box input { font-size: 18px; padding: 10px; border: 1px solid #CCC; display: block; margin: 10px auto 0 auto; width: 100%;}

.eleccionesdrt .section-elecciones {
  border-top: 3px solid #2a4a73;
  padding-top: 5px; 
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.eleccionesdrt .section-elecciones h1 {
  float: left;
  margin: 0;
}

.eleccionesdrt .section-elecciones h1, .eleccionesdrt .section-elecciones h1 a {
  font-family: "TiemposHeadline-Black";
  color: #001c4c;
  font-size: 20px;
  line-height: 24px;
}

.eleccionesdrt .btn-all-results {
  background: #466996;
  border-radius: 4px;
  color: #fff;
  padding: 8px 20px;
  font-family: arial;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}

.eleccionesdrt .chart {
	width: 100%; 
	min-height: 400px;
  max-height: 220px;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.eleccionesdrt .chart-temp {
  min-height: 260px;
}

.eleccionesdrt .chart-separator {
  width: 1px;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  left: 0;
  right: 0;
}

.eleccionesdrt .waiting-results {
  padding: 121px 0;
  margin: 5px 0;
}

.eleccionesdrt .loading {
  text-align: center;
  margin: 25px auto;
  display: block;
}

.eleccionesdrt .search-box {
  background: #dde6f1;
  padding: 15px;
  margin: 0 0 15px 0;
}

.eleccionesdrt .search-box .copy-search {
  font-family: "TiemposHeadline-Black";
  font-size: 18px;
  line-height: 20px;
  color: #001c4c;
  padding: 0;
  margin: 0;
}

.eleccionesdrt .chart-container, .eleccionesdrt .chart-legend, .eleccionesdrt .table-results {
  border: 1px solid #ccc;
  padding: 0 5px;
}

.eleccionesdrt .no-results .chart-container {
  height: 282px;
}

.eleccionesdrt .chart-container .chart-title p {
  font-family: "TiemposHeadline-Medium";
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #333;
  margin: 10px 0 10px 0;
}

.eleccionesdrt .chart-legend {
  height: 282px;
  overflow: hidden;
  padding: 10px;
}

.eleccionesdrt .chart-legend p {
  font-family: "TiemposHeadline-Medium";
  font-size: 18px;
  line-height: 20px;
  color: #333;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}

.eleccionesdrt .chart-legend .party {
  padding: 6px 0;
  display: block;
  font-size: 16px;
  line-height: 16px;
}

.eleccionesdrt .chart-legend .party-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.eleccionesdrt .table-results {
  font-size: 12px;
  height: 157px;
  overflow: hidden;
  padding: 8px;
}

.eleccionesdrt .table-results td {
  font-family: "TiemposHeadline-Medium";
  font-size: 16px;
  line-height: 18px !important;
}

.eleccionesdrt .table-results td:nth-child(1) {
  color: #466996;
}

.eleccionesdrt .borderless td, .eleccionesdrt .borderless th {
    border: none !important;
}

.eleccionesdrt .chart-container-border {
  margin-top: 8px;
  border:2px solid #d9d9d9;
}

@media screen and (max-width: 767px) {
}

/*** MOBILE ***/
@media (max-width: 600px) {
  .eleccionesdrt .chart-container, .eleccionesdrt .chart-legend {
    margin-bottom: 10px;
  }

  .chart-container-border {
    margin-bottom: 20px;
  }

  .eleccionesdrt .chart-legend {
    height: auto;
  }

  .eleccionesdrt .chart-legend .party {
    display: inline-block;
    margin-right: 15px;
  }
}